<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Plantillas</title>
</head>
<body>
    <header th:fragment="header">
        <h1 th:text="#{plantillas.titulo}"></h1>
    </header>
    
    <footer th:fragment="footer">
        <p>
            [[#{plantillas.pie-pagina}]]
            <a href="https://www.linkedin.com/in/alexismasin/">Alexis Masin</a>
        </p>
        <br>
        <div>
            <p>
                [[#{plantillas.lenguaje}]]
                <a th:href="@{/(lang=es)}">ES</a> |
                <a th:href="@{/(lang=en)}">EN</a>
            </p>
            <form method="POST" th:action="@{/logout}">
                <b>User:</b> <span sec:authentication="name">Usuario que hizo Login</span> |
                <b>Roles:</b> <span sec:authentication="principal.authorities">Roles</span>
                <br>
                <a href="#" onclick="this.parentNode.submit();">Logout</a>
            </form>
        </div>
    </footer>
</body>
</html>