<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantillas :: head">
        <meta charset="UTF-8">
        <title>[[#{index.titulo}]]</title>
    </head>
    <body>
        <header th:replace="layout/plantillas :: header"></header>
        <section th:replace="layout/botonesAgregar :: botonesAgregar"></section>
        <section th:replace="layout/agregarCliente :: agregarCliente"></section>
        <section th:replace="layout/listadoClientes :: listadoClientes"></section>
        <footer th:replace="layout/plantillas :: footer"></footer>
    </body>
</html>